.item {
  display: flex;
  max-width: 200px;
  border: 1px solid #fdf5e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: 500;
  padding-left: 10px;
}

.online {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7cfc00;
  margin: auto 10px auto 0;
}
.offline {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fc003f;
  margin: auto 10px auto 0;
}
.avatar {
  margin-right: 40px;
}
